<brn-sheet>
    <brn-sheet-overlay hlm />
    <div hlmSheetContent *brnSheetContent="let ctx">
        <hlm-sheet-header>
            <h3 brnSheetTitle hlm>Meu Carrinho</h3>
            <p brnSheetDescription hlm>Valor total: {{ getTotalValue()|number: '1.2-2' }}</p>
        </hlm-sheet-header>

        <div class="flex flex-col gap-4 my-4">
            <section hlmCard *ngFor="let product of shoppingCart.products" class="relative">
                <div class="bg-cover bg-center h-40" [style]="'background-image: url('+ product.imageUrl +')'">
                </div>
                <div class="flex justify-between items-center">
                    <div hlmCardHeader>
                        <h3 hlmCardTitle>{{ product.name }}</h3>
                        <p hlmCardDescription>R${{ (product.price - product.discount)| number:'1.2-2' }}</p>
                    </div>
                    <input type="number" class="w-20 mr-5" id="quantity" [(ngModel)]="product.quantity"
                        (change)="changeQuantity($event, product)">
                </div>
                <div class="w-8 h-8 absolute bg-[color:#7373ff] -top-2 -right-2 flex items-center justify-center rounded-full"
                    (click)="removeProductOfShoppingCart(product.id)">
                    <i class="ph-bold ph-x-circle text-xl text-center text-white"></i>
                </div>
            </section>
        </div>

        <hlm-sheet-footer>
            <button hlmBtn type="submit">Finalizar compra</button>
        </hlm-sheet-footer>
        <button brnSheetClose hlm hlmBtn variant='destructive'>
            <span class="sr-only">Close</span>
            <i class="ph-bold ph-x-circle text-xl"></i>
        </button>
    </div>

    <nav class="flex justify-around items-center py-3 border-b-2 border-indigo-400">
        <a routerLink="/home">
            <img src="../../../assets/nx-ecommerce-logo.png" alt="Logo do projeto" class="w-28 -my-6" />
        </a>

        <button hlmBtn brnSheetTrigger side="right" class="w-36 flex justify-center items-center gap-3 relative">
            <span>Carrinho</span>
            <i class="ph-bold ph-shopping-cart-simple"></i>
            <div class="absolute -right-1 -top-1 w-5 h-5 bg-[color:#3939E6] rounded-full text-white font-bold">
                <p *ngIf="shoppingCart">{{ shoppingCart.products.length > 0 ? shoppingCart.products.length : 0 }}</p>
            </div>
        </button>

        <div class="w-2/4 h-10 border-2 border-[color:#7373ff] rounded-full flex items-center justify-end shadow-md">
            <input type="search" id="default-search"
                class="block w-full h-full ps-10 text-sm text-gray-900 rounded-full bg-transparent]"
                placeholder="Procurar" required>
            <i class="ph-bold ph-magnifying-glass mr-5 text-[color:#0025cc]"></i>
        </div>

        <!--Adicionar tratativa para que apenas os donos de lojas possam criar produtos-->
        <a routerLink="../create-product" *ngIf="positionId >= 2">
            <button hlmBtn class="w-fit flex justify-center items-center gap-3">
                <i class="ph-bold ph-plus-circle text-xl"></i>
                <p>Criar produto</p>
            </button>
        </a>

        <button hlmBtn (click)="logout()" class="w-10 flex justify-center items-center gap-3">
            <i class="ph-bold ph-sign-out"></i>
        </button>
    </nav>
</brn-sheet>