.bg-image {
    //background-image: url('../../assets/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg');
    background-color: var(--primary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}