<div class="w-full h-10 border-2 border-[color:#7373ff] rounded-full flex items-center justify-end shadow-md">
    <input type="search" id="default-search"
        class="block w-full h-full ps-10 text-sm text-gray-900 rounded-full bg-transparent]" placeholder="Procurar"
        (input)="onInput($event)" [(ngModel)]="searchStr">
    <i class="ph-bold ph-magnifying-glass mr-5 text-[color:#0025cc]"></i>
</div>

<div *ngIf="searchStr && searchStr.length > 0"
    class="w-3/4 ml-3 md:w-1/2 h-fit md:-ml-48 mt-1 bg-slate-200 absolute z-10 rounded-lg shadow-xl shadow-black">
    <div class="flex flex-wrap justify-center gap-2 m-2">
        <div *ngFor="let product of products.slice(0, 10)"
            class="max-w-md p-2 border border-gray-200 shadow-md shadow-gray-400 bg-white rounded-lg flex flex-col items-center">
            <img class="w-20 h-fit rounded-lg object-cover" [src]="product.imagesUrl[0]" alt="Imagem do produto">
            <p>{{ product.name }}</p>
            <span>R${{ (product.price - product.discount) | number:'1.2-2' }}</span>
        </div>
    </div>
</div>