.bg-image {
    /* background-image: url('caminho/para/sua/imagem.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-user-create {
    max-height: 450px;
    object-fit: cover;
    border-radius: 10px;
}