<nx-ecommerce-header />
<div class="flex justify-center">
    <div class="w-10/12 h-fit">
        <div class="hidden md:inline-flex">
            <swiper [slidesPerView]="1" [initialSlide]="0" [config]="{ width: 1555, height: 10 }" [pagination]="true">
                <ng-template swiperSlide>
                    <img src="../../assets/banner-shop-1.jpg" alt="">
                </ng-template>
                <ng-template swiperSlide>
                    <img src="../../assets/banner-shop-2.jpg" alt="">
                </ng-template>
            </swiper>
        </div>

        <div>
            <div class="my-3">
                <nx-ecommerce-search-bar class="md:hidden"></nx-ecommerce-search-bar>
            </div>


            <div class="flex flex-col">
                <nx-ecommerce-product-carousel *ngFor="let categoryWithProduct of sortedCategories()"
                    [categoryWithProduct]="categoryWithProduct"></nx-ecommerce-product-carousel>
            </div>
        </div>

    </div>
</div>